@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
/* Layout Styles */
body {
  font-family: "Geist", "Segoe UI", Arial, sans-serif;
}
nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Home list styles */
ol {
  padding-left: 1.5rem;
  margin-top: 1rem;
}

ol li {
  display: list-item;
  list-style-position: inside;
  list-style-type: decimal;
  margin-bottom: 0.5rem;
  color: #333;
}

/* Page Content Styles */
main {
  padding: 2rem;
}
