@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
/* Layout Styles */
body {
  font-family: "Geist", "Segoe UI", Arial, sans-serif;
}
nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Page Content Styles */
main {
  padding: 2rem;
}
